/**
 * GridWOW CSS
 *
 * A simple, functional and objective grid css for web projects
 * @author  Jonatas Gaspar
 * @version 1.0.0, 2021-10-11
 * @since   2017-06
 *
 */

/* Reset */
html, body, div, span, applet, object, iframe, blockquote, pre, abbr, address, big, cite, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

body {line-height:1; line-height:1.42857143}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse:collapse; border-spacing:0;}
hr {box-sizing:content-box; height:0; overflow:visible; margin-top:1rem; margin-bottom:1rem; border:0; border-top:1px solid rgba(0, 0, 0, 0.1);}

button {cursor:pointer;}

/* Container */
.container, .container-pq {width:100%; margin-left:auto; margin-right:auto; padding-left:15px; padding-right:15px;}
.container-fluid {width:100%; padding:0 20px;}
@media screen and (min-width:1170px) {
  .container {max-width:1170px; padding:0;}
  .container-pq {max-width:900px; padding:0;}
}

/* Rows */
.row {margin-left:-5px; margin-right:-5px; }
.row::before {content:""; display:table;}
.row::after {clear:both;}

/* Columns */
.colw {display:inline-block; vertical-align:top; min-height:1px; padding-left:15px; padding-right:15px; width:100%; margin-right:-4px; *zoom:1; *display:inline;}

@media screen and (min-width:768px) {
  .colw-1 {-ms-flex:0 0 8.333333%; flex:0 0 8.333333%; max-width:8.333333%;}
  .colw-2 {-ms-flex:0 0 16.666667%; flex: 0 0 16.666667%; max-width:16.666667%;}
  .colw-3 {-ms-flex:0 0 25%; flex:0 0 25%; max-width:25%;}
  .colw-4 {-ms-flex:0 0 33.333333%; flex:0 0 33.333333%; max-width:33.333333%;}
  .colw-5 {-ms-flex:0 0 41.666667%; flex:0 0 41.666667%; max-width:41.666667%;}
  .colw-6 {-ms-flex:0 0 50%; flex:0 0 50%; max-width:50%;}
  .colw-7 {-ms-flex:0 0 58.333333%; flex:0 0 58.333333%; max-width:58.333333%;}
  .colw-8 {-ms-flex:0 0 66.666667%; flex:0 0 66.666667%; max-width:66.666667%;}
  .colw-9 {-ms-flex:0 0 75%; flex:0 0 75%; max-width:75%;}
  .colw-10 {-ms-flex:0 0 83.333333%; flex:0 0 83.333333%; max-width:83.333333%;}
  .colw-11 {-ms-flex:0 0 91.666667%; flex:0 0 91.666667%; max-width:91.666667%;}
  .colw-12 {-ms-flex:0 0 100%; flex:0 0 100%; max-width:100%;}
}

img {max-width:100%; height:auto; margin-bottom:-6px;}

.text-center {text-align:center;}
.oculto {display:none;}
.alignleft {float:left;}
.alignright {float:right;}

.clearfix:before, .clearfix:after {display:table; content:" ";}
.clearfix:after {clear:both;}

/* Content */
ul {padding-left:20px;}

